<!DOCTYPE html>
<html lang="es">

	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="{{ seo_description }}">
	{% block metatags %}
	{% endblock %}

	<title> {% block title %} {% endblock %} | Almanimal </title>

	<!-- Estilos y fuentes del template  -->



	{% load static %}
	<link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="{% static 'core/css/clean-blog.min.css' %}" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/icon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/img/icon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/icon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'core/img/icon/site.webmanifest' %}">
	<link rel="stylesheet" href="{% static 'core/vendor/glider/glider.min.css'%}">
	<link rel="stylesheet" href="{% static 'core/vendor/glider/custom.css'%}">

	</head>

	<body>

	<!-- Navegación -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-pills" id="mainNav">
		<div class="container">
		{% comment %} <a class="navbar-brand" href="{% url 'home' %}">Almanimal</a> {% endcomment %}
		<img id="light-logo" src="{% static 'core/img/logo-completo.png' %}" height=50>
		<img id="dark-logo" src="{% static 'core/img/logo-oscuro.png' %}" height=50>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menú
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'adopcion' or request.resolver_match.url_name == 'adopcion-detail' or request.resolver_match.url_name == 'agregar-animal' or request.resolver_match.url_name == 'editar-animal' %}active{% endif %}" href="{% url 'adopcion' %}">Adoptar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'blog' or request.resolver_match.url_name == 'blog_detail' %}active{% endif %}" href="{% url 'blog' %}">Blog</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'donaciones' %}active{% endif %}" href="{% url 'donaciones' %}">Donaciones</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'contacto' %}active{% endif %}" href="{% url 'contacto' %}">Contacto</a>
			</li>
			{% if user.is_authenticated %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username | upper }}</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					{% load socialaccount %}
					{% get_social_accounts user as accounts %}
					{% if not accounts %}
					<a class="dropdown-item" href="{% url 'cambiar-contraseña' %}">CAMBIAR CONTRASEÑA</a>
					<div class="dropdown-divider"></div>
					{% endif %}
					<a class="dropdown-item" href="{% url 'cerrar-sesion' %}">CERRAR SESIÓN</a>
				</div>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link  {% if request.resolver_match.url_name == 'iniciar-sesion' or request.resolver_match.url_name == 'registro' %}active{% endif %}" href="{% url 'iniciar-sesion' %}">Iniciar Sesión</a>
			</li>
			{% endif %}
			</ul>
		</div>
		</div>
	</nav>
	<!-- Cabecera -->
	<header class="masthead" style="background-image: url('{% block image%} {% endblock %}')">
		<div class="overlay"></div>
		<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
			<div class="site-heading">
				{% block cabecera %} {% endblock %}
			</div>
			</div>
		</div>
		</div>
	</header>

	<!-- Contenido Principal -->
	<div class="container">
		{% block contenido %} {% endblock %}
	</div>

	<!-- Pié de página -->
	<footer>
		<hr>
		<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
			<ul class="list-inline text-center">
				<li class="list-inline-item">
				<a href="mailto:almanimalmendiolaza@gmail.com" onclick="this.blur();">
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				</li>
				<li class="list-inline-item">
				<a href="https://www.facebook.com/fundacioncallejeritosmendiolaza" target="_blank" onclick="this.blur();">
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				</li>
				<li class="list-inline-item">
				<a href="https://www.instagram.com/fundalmanimal_/" target="_blank" onclick="this.blur();">
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				</li>
			</ul>
			</div>
		</div>
		</div>
		{% if request.user.is_staff %}
		<br/>
		<center>
			<a href="{% url 'admin:index' %}">Ir a Administración de página &rarr;</a>
		</center>
		{% endif %}
	</footer>

	<!-- Bootstrap y Javascript -->
	<script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'core/js/clean-blog.min.js' %}"></script>
	<script src="{% static 'core/vendor/glider/glider.min.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!--<script type="text/javascript">var scrolltotop={setting:{startline:100,scrollto:0,scrollduration:1e3,fadeduration:[500,100]},
	controlHTML:'<img src="{% static "core/img/dog-paws-pageScrollUp.png"%}" />',controlattrs:{offsetx:5,offsety:5},
	anchorkeyword:"#top",state:{isvisible:!1,shouldvisible:!1},scrollup:function(){this.cssfixedsupport||this.$control.css({opacity:0});
	var t=isNaN(this.setting.scrollto)?this.setting.scrollto:parseInt(this.setting.scrollto);
	t="string"==typeof t&&1==jQuery("#"+t).length?jQuery("#"+t).offset().top:0,this.$body.animate({scrollTop:t},this.setting.scrollduration)},
	keepfixed:function(){var t=jQuery(window),o=t.scrollLeft()+t.width()-this.$control.width()-this.controlattrs.offsetx,s=t.scrollTop()+
	t.height()-this.$control.height()-this.controlattrs.offsety;this.$control.css({left:o+"px",top:s+"px"})},
	togglecontrol:function(){var t=jQuery(window).scrollTop();this.cssfixedsupport||this.keepfixed(),
	this.state.shouldvisible=t>=this.setting.startline?!0:!1,this.state.shouldvisible&&!this.state.isvisible?(this.$control.stop().animate({opacity:1},
	this.setting.fadeduration[0]),this.state.isvisible=!0):0==this.state.shouldvisible&&this.state.isvisible&&(this.$control.stop().animate({opacity:0},
	this.setting.fadeduration[1]),this.state.isvisible=!1)},init:function(){jQuery(document).ready(function(t){
	var o=scrolltotop,s=document.all;o.cssfixedsupport=!s||s&&"CSS1Compat"==document.compatMode&&window.XMLHttpRequest,
	o.$body=t(window.opera?"CSS1Compat"==document.compatMode?"html":"body":"html,body"),o.$control=t('<div id="topcontrol">'+
	o.controlHTML+"</div>").css({position:o.cssfixedsupport?"fixed":"absolute",bottom:o.controlattrs.offsety,right:o.controlattrs.offsetx,opacity:0,cursor:"pointer"}).attr({
	title:"Clickeá para volver arriba"}).click(function(){return o.scrollup(),!1}).appendTo("body"),document.all&&!window.XMLHttpRequest&&""!=o.$control.text()&&o.$control.css({
	width:o.$control.width()}),o.togglecontrol(),t('a[href="'+o.anchorkeyword+'"]').click(function(){return o.scrollup(),!1}),t(window).bind("scroll resize",function(t){o.togglecontrol()})})}};scrolltotop.init();</script> -->

	{% block scripts %}
	{% endblock %}

	</body>

</html>