<!DOCTYPE html>
<html lang="es">

	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title> {% block title %} {% endblock %} | Almanimal </title>

	<!-- Estilos y fuentes del template  -->


	
	{% load static %}
	<link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href="{% static 'core/css/clean-blog.min.css' %}" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>

	</head>

	<body>

	<!-- Navegación -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-pills" id="mainNav">
		<div class="container">
		{% comment %} <a class="navbar-brand" href="{% url 'home' %}">Almanimal</a> {% endcomment %}
		<img src="{% static 'core/img/logo-completo.png' %}" height=50>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menú
			<i class="fa fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Inicio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'adopcion' %}active{% endif %}" href="{% url 'adopcion' %}">Adoptar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'donaciones' %}active{% endif %}" href="{% url 'donaciones' %}">Donaciones</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'blog' %}active{% endif %}" href="{% url 'blog' %}">Blogs</a>
			</li>
			<li class="nav-item">
				<a class="nav-link {% if request.resolver_match.url_name == 'contacto' %}active{% endif %}" href="{% url 'contacto' %}">Contacto</a>
			</li>
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'cerrar-sesion' %}">Cerrar Sesión</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link  {% if request.resolver_match.url_name == 'iniciar-sesion' %}active{% endif %}" href="{% url 'iniciar-sesion' %}">Iniciar Sesión</a>
			</li>
			{% endif %}
			</ul>
		</div>
		</div>
	</nav>
	<!-- Cabecera -->
	<header class="masthead" style="background-image: url('{% block image%} {% endblock %}')">
		<div class="overlay"></div>
		<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
			<div class="site-heading">
				{% block cabecera %} {% endblock %}
			</div>
			</div>
		</div>
		</div>
	</header>

	<!-- Contenido Principal -->
	<div class="container">
		{% block contenido %} {% endblock %}
	</div>

	<!-- Pié de página -->
	<footer>
		<hr>
		<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
			<ul class="list-inline text-center">
				<li class="list-inline-item">
				<a href="mailto:almanimalmendiolaza@gmail.com">
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				</li>
				<li class="list-inline-item">
				<a href="https://www.facebook.com/fundacioncallejeritosmendiolaza" target="_blank">
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				</li>
				<li class="list-inline-item">
				<a href="https://www.instagram.com/fundalmanimal_/" target="_blank">
					<span class="fa-stack fa-lg">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
					</span>
				</a>
				</li>
			</ul>
			</div>
		</div>
		</div>
	</footer>

	<!-- Bootstrap y Javascripts -->
	<script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'core/js/clean-blog.min.js' %}"></script>

	</body>

</html>