{% extends "core/base.html" %}

{% block metatags %} {% load static %}<link rel="stylesheet" href="{% static 'core/css/donaciones.css' %}"> {% endblock%}

{% block title %} Donaciones {% endblock title %}

{% block image %} {% load static %} {% static 'core/img/donacion-bg.jpg'%} {% endblock image %}

{% block cabecera %}
<h1> Dános una pata </h1>
<p> Para que nosotros podámos seguir ayudando </p>
{% endblock cabecera %}

{% block contenido %}
<div>
  <h1>A través de Mercado Pago</h1>
  <p>Con Mercado Pago App:</p>
  <img src="{% static 'core/img/qr_example.png'%}">
  <p>O desde tu computadora: </p>
  <button type="button" class="btn btn-primary" id="btn-abrir-popup">Donar</button>
  <div class="overlay" id="overlay">
    <div class="popup" id="popup">
      <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true" id="btn-cerrar-popup">&times;</span>
      </button>
      <h3>Elegí con cuanto nos vas a ayudar</h3>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$25</a>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$50</a>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$100</a>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$300</a>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$500</a>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$1000</a>
    </div>
  </div>
  <br>
  <br>
  <h1>A través de Transferencia Bancaria</h1>
  <p>Info</p>
</div>
{% endblock contenido %}

{% block scripts %}
{% load static %}
<script src="{% static 'core/js/popup.js' %}"></script>
{% endblock scripts %}
