{% extends "core/base.html" %}

{% block metatags %} {% load static %}<link rel="stylesheet" href="{% static 'core/css/donaciones.css' %}"> {% endblock%}

{% block title %} Donaciones {% endblock title %}

{% block image %} {% load static %} {% static 'core/img/donacion-bg.jpg'%} {% endblock image %}

{% block cabecera %}
<h1>Danos una pata</h1>
<p>Para que nosotros podamos seguir ayudando</p>
{% endblock cabecera %}

{% block contenido %}
<div>
  <h1>A través de Mercado Pago</h1>
  <p>Con Mercado Pago App:</p>
  <img src="{% static 'core/img/qr_example.png'%}">
  <p>O desde tu computadora: </p>
  <button type="button" class="btn btn-primary" id="btn-abrir-popup">Donar</button>
  <div class="overlay" id="overlay">
    <div class="popup" id="popup">
      <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true" id="btn-cerrar-popup">&times;</span>
      </button>
      <h3>Elegí con cuanto nos vas a ayudar</h3>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$50</a>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$100</a>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$300</a>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$500</a>
      <a class="btn btn-primary" href="https://www.mercadopago.com.ar" role="button">$1000</a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div>
    <h1>A través de PayPal</h1>
      <p>Ir a PayPal:</p>
      <form action="https://www.paypal.com/donate" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations" />
      <input type="hidden" name="business" value="manuelmoroncini@gmail.com" />
      <input type="hidden" name="item_name" value="Ayudar a animales en situación de calle a encontrar una familia" />
      <input type="hidden" name="currency_code" value="ARS" />
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
      <img alt="" border="0" src="https://www.paypal.com/en_AR/i/scr/pixel.gif" width="1" height="1" />
      </form>
      <p>Con QR Paypal:</p>
      <img src="{% static 'core/img/qr_paypal.png'%}">
  </div>
  <br>
  <h1>A través de Transferencia Bancaria</h1>
  <p>Información general para hacer donaciones a través de CBU</p>
  <p>Cta.Cte. en pesos en Bco. de Córdoba</p>
  <p>CBU 0200392201000001008929 </p>
  <p>Titular: FUNDACIÓN ALMANIMAL MENDIOLAZA </p>
  <p>CUIT: 30-71603083-7</p>
  <p>Fundación 2018 </p>
  
</div>
{% endblock contenido %}

{% block scripts %}
{% load static %}
<script src="{% static 'core/js/popup.js' %}"></script>
{% endblock scripts %}
