{% extends "core/base.html" %}


{% block title %} Inicio {% endblock title %}

{% block image %} {% load static %} {% if efemerides %} {% for ef in efemerides %} {% if today|date:'d/m' == ef.fecha_festividad|date:'d/m' %} {{ ef.foto.url }} {% else %} {% static 'core/img/inicio-bg.jpeg'%} {% endif %} {% endfor %} {% else %} {% static 'core/img/inicio-bg.jpeg'%} {% endif %} {% endblock image %}

{% block cabecera %}
<h1>Almanimal</h1>
<p>Una fundación de Mendiolaza</p>
<div class="mt-5 w-50 mx-auto">
  <a href="{% url 'adopcion' %}" class="btn-primary p-2 btn-block no-underline">Adoptar</a>
  <a href="https://www.animanaturalis.org/p/1388/como_denunciar_maltrato_animal_en_argentina" target='_blank'
    class="btn-danger p-2 btn-block no-underline">Denunciar Violencia Animal</a>
</div>
{% endblock cabecera %}

{% block contenido %}

{% for ef in efemerides %}
  {% if today|date:'d/m' == ef.fecha_festividad|date:'d/m' %}
    <div class="jumbotron bg-{{ef.color}} text-{% if ef.color == 'warning' %}dark{% else %}white{% endif %}">
      <div class="container">
        <h1 class="display-4">{{ ef.titulo }}</h1>
        <p class="lead">{{ ef.texto | safe }}</p>
      </div>
    </div>
  {% endif %}
{% endfor %}

{{texto|safe}}

{% endblock contenido %}