{% extends 'password/reset/base.html' %}
{% load static %}
{% block content %}

<center>
    <p>
        Te enviamos un correo electrónico con las instrucciones sobre como resetear tu contraseña.
        Revisá tu correo en unos minutos.
    </p>
    <p>
        Si no recibís un correo, por favor asegurate de haber ingresado la dirección correcta,
        y/o chequeá la casilla de spam.
    </p>
    <p>
        Recordá que si tenés una cuenta de Google, no se te enviará ningún mail,
        ya que la contraseña es propia de tu cuenta de Google.
    </p>
    <br/>
</center>

{% endblock %}