{% extends "core/base.html" %}


{% block title %} En adopcion {% endblock title %}

{% block image %} {% load static %} {% static 'core/img/adopcion-bg.jpg'%} {% endblock image %}

{% block cabecera %}
<h1> Adoptá</h1>
<p> Encontrá tu compañía ideal</p>
{% if request.user.is_authenticated %}
  <div class="mt-5 w-50 mx-auto">
    <a href="{% url 'agregar-animal' %}" class="btn btn-primary">Publicá un animal</a>
    <br><br>
  </div>
{% endif %}
{% endblock cabecera %}

{% block contenido %}

    <a href="{% url 'adopcion' %}">&larr; Volver</a>
    <br><br>

    {% if request.user.id == animal.dueño.id %}

    <div class="col-12">

        <form action="{% url 'editar-animal' animal.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card-deck">
              <div class="card">
                  <h5 class="card-header">Detalles</h5>
                  <div class="card-body">
                      <label for="id_nombre">Nombre:</label>
                      {{ form.nombre }}
                      <br>
                      <label for="id_tipo_animal">Tipo de animal:</label>
                      {{ form.tipo_animal }}
                      <br>
                      <div id="perro">
                        <label for="id_raza_perro">Raza:</label>
                        {{ form.raza_perro }}
                        <br>
                      </div>
                      <div id="gato">
                        <label for="id_raza_gato">Raza:</label>
                        {{ form.raza_gato }}
                        <br>
                      </div>
                      <label for="id_sexo">Sexo:</label>
                      {{ form.sexo }}
                      <br>
                      <label for="id_tamaño">Tamaño:</label>
                      {{ form.tamaño }}
                      <br>
                      <label for="id_edad">Edad:</label>
                      {{ form.edad }}
                      <br>
                      <label for="id_tiempo">Tiempo:</label>
                      {{ form.tiempo }}
                      <br>
                      <label for="id_caracter">Caracter:</label>
                      {{ form.caracter }}
                      <br>
                      <label for="id_descripcion">Descripción:</label>
                      {{ form.descripcion }}
                  </div>
              </div>

          </div>

          <br>

          <div class="card-deck">

              <div class="card">
                  <h5 class="card-header">Veterinaria</h5>
                  <div class="card-body">
                      
                      <div class="form-check col-md-2">
                          {{ form.vacunado }}
                          <label class="form-check-label" for="id_vacunado">Vacunado</label>
                      </div>

                      <div class="form-check col-md-2">
                          {{ form.desparasitado }}
                          <label class="form-check-label" for="id_desparasitado">Desparasitado</label>
                      </div>

                      <div class="form-check col-md-2">
                          {{ form.castrado }}
                          <label class="form-check-label" for="id_castrado">Castrado</label>
                      </div>
                      <br>
                      <label for="id_comentario">Comentario:</label>
                      {{ form.comentario }}
                  </div>
              </div>

              <div class="card">
                  <h5 class="card-header">Contacto</h5>
                  <div class="card-body">
                      <label for="id_telefono">Teléfono:</label>
                      {{ form.telefono }}
                      <br>
                      <label for="id_email">Email:</label>
                      {{ form.email }}
                  </div>
              </div>

          </div>

          <br>

          <div class="card-deck">

            <div class="card">
              <h5 class="card-header">Fotos</h5>
              <div class="card-body">
                  {{ form.foto1 }}
                  <br><br>
                  {% if animal.foto1 %}
                  <img src="{{animal.foto1.url}}" alt="animal.nombre" style="object-fit: cover; height: 300px;">
                  {% else %}
                  <img src="{% static 'adopcion/img/no-image.png' %}" alt="animal.nombre" style="object-fit: cover; height: 300px;">
                  {% endif %}
                  <hr>
                  {{ form.foto2 }}
                  {% if animal.foto1 and animal.foto2 %}
                  <br><br>
                  <img src="{{animal.foto2.url}}" alt="animal.nombre" style="object-fit: cover; height: 300px;">
                  {% endif %}
                  <br><br>
              </div>
            </div>

          </div>

          <br>

          <button name="submit" type="submit" class="btn btn-primary btn-block btn-lg">Actualizar</button>

        </form>

        <br/>

        <button type="submit" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteConfirmationModal">Eliminar</button>
     
    </div>
    
    <br><br>
    <a href="{% url 'adopcion' %}">&larr; Volver</a>

        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Eliminar animal</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ¿Estás seguro/a de que querés eliminar a "{{ animal }}" de la página?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <form method="POST" action="{% url 'eliminar-animal' animal.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

    <script type="text/javascript">
      var specialKeys = new Array();
      specialKeys.push(8); //Backspace
      function IsNumeric(e) {
          var keyCode = e.which ? e.which : e.keyCode
          var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
          return ret;
      }
      var edad = document.getElementById("id_edad");
      var tel = document.getElementById("id_telefono")
      edad.onkeypress = IsNumeric;
      tel.onkeypress = IsNumeric;

      $(document).ready(function() {

        $("#id_vacunado").addClass('form-check-input');
        $("#id_desparasitado").addClass('form-check-input');
        $("#id_castrado").addClass('form-check-input');

        $("#gato").hide();
        $("#id_tipo_animal").change(function() {
            var val = $(this).val();
            if (val == "Perro") {
                $("#gato").hide();
                $("#perro").show();
            }
            else if (val == "Gato") {
                $("#gato").show();
                $("#perro").hide();
            }
            else {
                $("#gato").hide();
                $("#perro").hide();
            }
            });
        });
    </script>

    {% else %}

    <center>
        <p>Tenés que ser el dueño de esta publicación para poder editarla.</p>
    </center>

    {% endif %}

{% endblock contenido %}