{% extends "core/base.html" %}


{% block title %} En adopcion {% endblock title %}

{% block image %} {% load static %} {% static 'core/img/adopcion-bg.jpg'%} {% endblock image %}

{% block cabecera %}
<h1> Adoptá</h1>
<p> Encontrá tu compañía ideal</p>
{% endblock cabecera %}

{% block contenido %}

<a href="{% url 'adopcion' %}">&larr; Volver</a>
<br><br>

    {% if request.user.is_authenticated %}

    <div class="col-12">

        <form action="{% url 'agregar-animal' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card-deck">
                <div class="card">
                    <h5 class="card-header">Detalles</h5>
                    <div class="card-body">
                        <label for="id_nombre">Nombre:</label>
                        {{ form.nombre }}
                        <br>
                        <label for="id_tipo_animal">Tipo de animal:</label>
                        {{ form.tipo_animal }}
                        <br>
                        <div id="perro">
                            <label for="id_raza_perro">Raza:</label>
                            {{ form.raza_perro }}
                            <br>
                        </div>
                        <div id="gato">
                            <label for="id_raza_gato">Raza:</label>
                            {{ form.raza_gato }}
                            <br>
                        </div>
                        <label for="id_sexo">Sexo:</label>
                        {{ form.sexo }}
                        <br>
                        <label for="id_tamaño">Tamaño:</label>
                        {{ form.tamaño }}
                        <br>
                        <label for="id_edad">Edad:</label>
                        {{ form.edad }}
                        <br>
                        <label for="id_tiempo">Tiempo:</label>
                        {{ form.tiempo }}
                        <br>
                        <label for="id_caracter">Caracter:</label>
                        {{ form.caracter }}
                        <br>
                        <label for="id_descripcion">Descripción:</label>
                        {{ form.descripcion }}
                    </div>
                </div>

            </div>

            <br>

            <div class="card-deck">

                <div class="card">
                    <h5 class="card-header">Veterinaria</h5>
                    <div class="card-body">
                        
                        <div class="form-check col-md-2">
                            {{ form.vacunado }}
                            <label class="form-check-label" for="id_vacunado">Vacunado</label>
                        </div>

                        <div class="form-check col-md-2">
                            {{ form.desparasitado }}
                            <label class="form-check-label" for="id_desparasitado">Desparasitado</label>
                        </div>

                        <div class="form-check col-md-2">
                            {{ form.castrado }}
                            <label class="form-check-label" for="id_castrado">Castrado</label>
                        </div>

                        {{ form.comentario }}
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Contacto</h5>
                    <div class="card-body">
                        {{ form.telefono }}
                        {{ form.email }}
                    </div>
                </div>

            </div>

            <br>

            <div class="card-deck">

                <div class="card">
                  <h5 class="card-header">Fotos</h5>
                  <div class="card-body">
                      <br>
                      {{ form.foto1 }}
                      <hr>
                      {{ form.foto2 }}
                      <br><br>
                  </div>
                </div>
    
              </div>

            <br>
            <small id="bodyHelpBlock" class="form-text text-muted">Los campos que contienen (*) son obligatorios.</small>
            <br>
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#publishConfirmationModal">Publicar</button>

            <div class="modal fade" id="publishConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="publishConfirmationModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Publicar animal</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Tu publicación será revisada por los supervisadores de la página y evaluarán si puede ser publicada. No serás notificado cuando tu publicación sea aceptada.
                        <br>
                        Antes de continuar, revisá si completaste todos los datos obligatorios.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button name="submit" type="submit" class="btn btn-primary">Publicar</button>
                    </div>
                    </div>
                </div>
            </div>
            
        </form>

    </div>

<br><br>
<a href="{% url 'adopcion' %}">&larr; Volver</a>

    <script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            return ret;
        }
        var edad = document.getElementById("id_edad");
        var tel = document.getElementById("id_telefono")
        edad.onkeypress = IsNumeric;
        tel.onkeypress = IsNumeric;

        $(document).ready(function() {

            $("#id_vacunado").addClass('form-check-input');
            $("#id_desparasitado").addClass('form-check-input');
            $("#id_castrado").addClass('form-check-input');

            $("#gato").hide();
            $("#id_tipo_animal").change(function() {
                var val = $(this).val();
                if (val == "Perro") {
                    $("#gato").hide();
                    $("#perro").show();
                }
                else if (val == "Gato") {
                    $("#gato").show();
                    $("#perro").hide();
                }
                else {
                    $("#gato").hide();
                    $("#perro").hide();
                }
            });
        });

    </script>

    {% else %}

    <center>
        <p><a href="{% url 'iniciar-sesion' %}">Iniciá sesión</a> para poder publicar animales.</p>
    </center>

    {% endif %}

{% endblock contenido %}