{% extends "core/base.html" %}


{% block title %} En adopcion {% endblock title %}

{% block image %} {% load static %} {% static 'core/img/adopcion-bg.jpg'%} {% endblock image %}

{% block cabecera %}
<h1> Adoptá</h1>
<p> Encontrá tu compañía ideal</p>
{% endblock cabecera %}

{% block contenido %}

    <a href="{% url 'adopcion' %}">&larr; Volver</a>
    <br><br>

    {% if request.user.is_authenticated %}

    <div class="col-8">

        <form action="{% url 'agregar-animal' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{form.as_p}}

            <button name="submit" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Publicar</button>
            
        </form>

    </div>
    
    <script type="text/javascript">
        var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            return ret;
        }
        var edad = document.getElementById("id_edad");
        var tel = document.getElementById("id_telefono")
        edad.onkeypress = IsNumeric;
        tel.onkeypress = IsNumeric;
    </script>

    {% else %}

    <center>
        <p><a href="{% url 'iniciar-sesion' %}">Iniciá sesión</a> para poder publicar animales.</p>
    </center>

    {% endif %}

{% endblock contenido %}